<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Demo App</title>
    <link href="/css/fa/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/fa/css/material-design-iconic-font.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/animate.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/css/route.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="background">
