{{> nav }}
<div class="container-fluid">
  <h2 id="choose">Select a route to know the traffic status</h2>
  <div class="row animated bounceInLeft" id="row1">
    {{#each road}}
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-text">
            <a href="/route/{{id}}" class="btn btn-outline-primary">{{road_name}}</a>
          </h5>
        </div>
      </div>
    </div>
    {{/each }}
  </div>
</div>
{{> footer }}
