{{> header }}
<div id="index-header"></div>
<div class="container">
  <div class="text-center" id="index-body">
    <img src="/img/location.png" class="d-inline-block align-top img-fluid">
    <div class="jumbotron py-5">
      <h3 class="mt-2 mb-3 mx-2">E'ko Traffic System</h3>
      <h5 class="mt-0 mb-4 mx-2" style="line-height: 1.5em;">A traffic monitoring system which displays the traffic status of different routes in realtime</h5>
      <a href="/home" class="btn btn-primary pt-3 px-5" id="icon-lights">CHECK IN<br>
        <i class="fa fa-circle icon-green"></i>
        <i class="fa fa-circle icon-yellow"></i>
        <i class="fa fa-circle icon-red"></i>
      </a>
    </div>
  </div>
</div>
{{> footer }}

